<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>{{title}}</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-debug.js"
      integrity="sha512-CkCoHcNjfbBs/EQkITBd8Jmqsnv4u46yBemFrZ/ISNiKbTQd35Ng7tFHpYSm+AI1fyf1McVJamWHgMrWXKMaKw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <h2>Your seat reservations</h2>
    <button data-bind="click: addSeat">Reserve another seat</button>

    <table>
      <thead>
        <tr>
          <th>Passenger name</th>
          <th>Meal</th>
          <th>Surcharge</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-bind="foreach: seats">
        <tr>
          <td><input data-bind="value: name" /></td>
          <td>
            <select
              data-bind="options: $root.availableMeals, value: meal, optionsText: 'mealName'"
            ></select>
          </td>
          <td data-bind="text: formattedPrice"></td>
          <td><a href="#" data-bind="click: $root.removeSeat">Remove</a></td>
        </tr>
      </tbody>
    </table>

    <script>
      // Class to represent a row in the seat reservations grid
      function SeatReservation(name, initialMeal) {
        var self = this;
        self.name = name;
        self.meal = ko.observable(initialMeal);

        self.formattedPrice = ko.computed(function () {
          var price = self.meal().price;
          return price ? "$" + price.toFixed(2) : "None";
        });
      }

      // Overall viewmodel for this screen, along with initial state
      function ReservationsViewModel() {
        var self = this;

        // Non-editable catalog data - would come from the server
        self.availableMeals = [
          { mealName: "Standard (sandwich)", price: 0 },
          { mealName: "Premium (lobster)", price: 34.95 },
          { mealName: "Ultimate (whole zebra1)", price: 230 },
          { mealName: "Ultimate (whole zebra2)", price: 240 },
          { mealName: "Ultimate (whole zebra3)", price: 250 },
          { mealName: "Ultimate (whole zebra4)", price: 260 },
          { mealName: "Ultimate (whole zebra5)", price: 270 },
        ];

        // Editable data
        self.seats = ko.observableArray([
          new SeatReservation("Steve", self.availableMeals[0]),
          new SeatReservation("Bert", self.availableMeals[0]),
        ]);

        // Computed data
        self.totalSurcharge = ko.computed(function () {
          var total = 0;
          for (var i = 0; i < self.seats().length; i++)
            total += self.seats()[i].meal().price;
          return total;
        });

        // Operations
        self.addSeat = function () {
          self.seats.push(new SeatReservation("", self.availableMeals[0]));
        };
        self.removeSeat = function (seat) {
          self.seats.remove(seat);
        };
      }

      ko.applyBindings(new ReservationsViewModel());
    </script>
  </body>
</html>
